$color-default: #131313;
$color-secondary: #6a6a6a;
$color-accent: #e35205;
$color-success: #50af6f;
$color-lighten: #d8d8d8;
$color-light: #f6f6f6;
$color-white: #ffffff;

$bp-xxxs: 320px;
$bp-xxs: 375px;
$bp-xs: 420px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
$bp-xxxl: 1680px;
$bp-hd: 1920px;
